@import "../../styles/utils/vars";
@import "../../styles/utils/mixins";

$input-variants: (
  //
  primary: ($color-boxshadow-primary, $color-primary-900),
  secondary: ($color-boxshadow-secondary, $color-secondary-900),
  warning: ($color-boxshadow-negative, $color-negative-900),
  success: ($color-boxshadow-positive, $color-positive-900),
  default: ($color-boxshadow-neutral, $color-neutral-900)
);

.input {
  &--base {
    input {
      background: var(--pk-color-blank-800);
      box-shadow: 0px 0px 5px var(--pk-color-blank-800),
        0px 4px 15px rgba(0, 0, 0, 0.15);

      height: 60px;
      position: relative;
      width: 100%;
      padding: 1em 0 1em 1.5em;
      border: 0;
      border-radius: 15px;
      font-family: var(--pk-font-family-secondary);

      &:focus {
        outline: none;
        box-shadow: inset 0px -2px 5px var(--pk-color-blank-800),
          inset 0px 2px 5px rgba(0, 0, 0, 0.15);
      }
    }

    label {
      min-height: 21px;
      margin-bottom: 10px;
      margin-left: 3px;
    }
  }

  @each $variant, $colors in $input-variants {
    &--#{$variant} {
      $txt-color: nth($colors, 2);

      input {
        color: $txt-color;

        &::placeholder {
          color: nth($colors, 2);
          opacity: .6;
        }
      }

      label {
        color: $txt-color;
      }
    }
  }
}
