@import "../../styles/utils/vars";

.sc-widget {
  
  &--default {
    width: 600px;
    height: 390px;
    position: relative;
    grid-area: widget;

    @media only screen and (max-width: 950px) {
      width: 100%;
    }
  }

  &--fixed-player {
    z-index: 10;
    height: 58px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;

    button {
      position: absolute;
      padding: 0.5em 1em;
      top: 8px;
      right: 10px;
      background: $color-blank-800;
      border-radius: 50%;
      border-width: 2px;

      &::after {
        border-radius: 50%;
      }
    }
  }
}
