@import "../utils/vars";
@import "../utils/mixins";

.page-about {
  &__content-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    // margin: 0 3em;
  }

  &__landing-container {
    &--outer {
      position: relative;
      width: 100vw;
      height: max-content;
      margin: 13vh auto 0 auto;
    }
    
    &--inner-1 {
      margin-bottom: 5em;
      margin: 0 auto;
      @media only screen and (max-width: 950px) {
        flex-direction: column;
        margin: 0 auto 10vh auto;
      }
    }

    &--inner-2 {
      margin: 15vh auto 0 auto;
      width: 500px;
      transform: translate(-11.7em, 0);

      @media only screen and (max-width: 950px) {
        transform: translate(0, 0);
        width: 100vw;
        margin: 10vh auto 0 auto;
        padding: 0 15px;
      }
    }
  }

  &__landing-greeting {
    z-index: 1;
    @media only screen and (max-width: 950px) {
      padding: 0 15px;
    }
  }

  &__landing-greeting__name {
    font-size: 6em;

    @media only screen and (max-width: 500px) {
      font-size: 4.3em;
    }
  }

  &__landing-greeting__motto,
  &__cards-skills__motto,
  &__cards-contact__motto,
  &__history__motto {
    margin-top: 2em;
    margin-left: 1em;
    @media only screen and (max-width: 950px) {
      margin-left: 0;
    }

    @media only screen and (max-width: 500px) {
      font-size: 1em;
    }
  }

  &__landing-greeting__imgs {
    position: relative;
    z-index: 0;
    height: max-content;
    @media only screen and (max-width: 950px) {
      position: static;
      top: 0;
      left: 0;
      margin-top: 3em;
    }

    &-profile {
      z-index: 1;
      height: 300px;
      @media only screen and (max-width: 950px) {
        position: static;
        left: 10%;
        top: 0;
      }
    }
    &-brushstroke {
      font-size: 60em;
      color: $color-secondary-050;
      transform: translate(-50%, -32%);
      @media only screen and (max-width: 950px) {
        display: none;
      }
    }
  }

  &__landing-greeting__about-header {
    margin-top: 30px;

    &-div {
      margin-bottom: 20px;
      border: 3px solid var(--pk-color-secondary-050);
      transform: skewY(-45deg) rotate(45deg) translate(-20%, 0);
      width: 170px;
    }

    @media only screen and (max-width: 500px) {
      font-size: 1.5em;
    }
  }

  &__landing-greeting__about-skills {
    @media only screen and (max-width: 500px) {
      font-size: 1em;
    }
  }

  &__history-container {
    &--outer {
      margin: 15vh auto 5vh auto;
      transform: translate(8em, 0);

      @media only screen and (max-width: 950px) {
        transform: translate(0, 0);

        margin: 15vh auto 0 auto;
        flex-direction: column;
        padding: 0 15px;
        width: 100vw;
      }
    }

    &--inner {
      position: relative;
    }
  }

  &__history__title,
  &__history__motto {
    z-index: 1;
  }

  &__history__timeline {
    margin-top: 2em;
  }

  &__history__timeline__img {
    float: right;
    height: 200px;
    border-radius: 5px;

    @media only screen and (max-width: 500px) {
      margin: 1em 0;
      float: none;
    }
  }

  &__history__timeline__skill-icons {
    margin-top: .5em;
    & > * {
      font-size: 1.8em;
      margin: 0 3px;
    }
  }

  &__history__bg {
    position: absolute;
    font-size: 50em;
    z-index: 0;
    opacity: 0.7;
    color: $color-primary-050;
    transform: rotate(-180deg) translate(0%, 13%);
  }

  &__cards-container {
    height: max-content;
    width: 100vw;
    margin: 2em 0 ;
  }

  &__cards-container--inner-1,
  &__cards-container--inner-2 {
    margin: 15vh auto 10vh auto;
    transform: translate(-6em, 0);

    @media only screen and (max-width: 950px) {
      transform: translate(0, 0);

      margin: 15vh auto 10vh auto;
      flex-direction: column;
      padding: 0 15px;
      width: 100vw;
    }
  }

  &__cards__skillset__title {
    margin: 0 0 5px 0;
  }

  &__cards-skills,
  &__cards-contact {
    z-index: 1;
    width: 400px;
    margin: 0 10% 0 0;
    position: relative;

    @media only screen and (max-width: 950px) {
      margin: 0 auto;
    }
  }

  &__card-skills,
  &__card-contact {
    @media only screen and (max-width: 950px) {
      margin: 10% auto 0 auto;
    }
  }

  &__cards-skills__title,
  &__cards-contact__title,
  &__history__title {
    font-size: 4.3em
  }

  &__ink-grunge,
  &__splash-grunge {
    font-size: 50em;
    z-index: -1;
    top: -0.25em;

    @media only screen and (max-width: 950px) {
      left: -0.2em;
    }
  }

  &__splash-grunge {
    color: $color-primary-050;
    opacity: .7;
  }

  &__ink-grunge {
    color: $color-secondary-050;
    transform: rotate(-90deg);
  }

  &__brush-stroke,
  &__ink-grunge,
  &__splash-grunge {
    position: absolute;
  }
}
