@import "../utils/vars";
@import "../utils/mixins";

$fill-colors: #a54afd, #4f9cfd, #ffbf55, #fc4d91, #4de2ae, rgb(113, 222, 241),
  rgb(140, 148, 255), rgb(172, 88, 172), rgb(243, 150, 150);

.page-home {
  &__content-section {
    padding-bottom: 5em;
  }

  &__landing-header {
    width: 100%;
    margin-top: -15em;
    height: max-content;
    @media only screen and (max-width: 850px) {
      flex-direction: column-reverse;
      margin-top: -3em;
    }
  }

  &__landing-container {
    min-height: 100vh;
    position: relative;

    &--inner {
      height: 100vh;
    }
  }

  &__landing-header-txt {
    width: 400px;
    margin-right: 3vw;

    &__name {
      width: 335px;
      margin: 1em 0 3em;
      position: relative;
      &::after {
        content: "Software Developer";
        position: absolute;
        height: 30px;
        width: 65%;
        display: flex;
        justify-content: center;
        border: 2px solid var(--pk-color-neutral-100);
        border-left: none;
        border-right: none;
        color: var(--pk-color-neutral-100);
        font-family: var(--pk-font-family-primary);
        margin: 0 2em;
        top: 36%;
        left: 7%;
        opacity: 0.7;
        transform: rotate(-55deg);
      }

      h1 {
        font-size: 45px;
      }

      span {
        font-size: 2.7em;
        font-family: var(--pk-font-family-primary);
      }
    }

    &__firstname {
      align-self: flex-start;
    }

    &__lastname {
      align-self: flex-end;
    }

    & > h1 {
      margin-bottom: 0.5em;
    }

    & > h3 {
      margin: 1em 0 2em;
    }

    @media only screen and (max-width: 850px) {
      margin-top: 2em;
      align-items: center;
    }

    @media only screen and (max-width: 500px) {
      margin: 0;
      padding: 0 1em;
    }
  }

  &__about-section {
    margin: auto;
    height: 100vh;

    &--inner {
      margin: 5em 0;
      &:first-child {
        margin-top: -5em;
      }
    }

    &__link {
      margin: 2em auto 0 0;
    }

    &__img {
      font-size: 20em;
      color: $color-neutral-400;
      position: relative;

      svg {
        &:nth-child(2) {
          position: absolute;
        }
      }

      &-sax-cat {
        svg:nth-child(2) {
          right: 0;
          top: 25%;
          @for $i from 1 to 6 {
            g path:nth-child(#{$i}) {
              opacity: 0;
              fill: nth($fill-colors, $i);
              animation: music-notes 3.5s ease-in-out forwards infinite;
              animation-delay: #{$i}s;
            }
          }
        }
      }

      &-drummer-cat {
        svg:nth-child(2) {
          opacity: 0.5;
          right: -0.03em;
          top: -0.03em;
          animation: music-revolver 50s linear forwards infinite;
          transform: rotate(0deg);

          @for $i from 1 to 477 {
            g path:nth-child(#{$i}) {
              fill: nth($fill-colors, random(9));
            }
          }
        }
      }
    }

    &__txt {
      width: 500px;
      margin-left: 4em;

      & > h2 {
        margin: 0.6em 0;
      }

      & > h4 {
        line-height: 35px;

        a {
          font-size: 1em;
          font-weight: bold;
          color: $color-neutral-600;
          text-decoration: underline;
        }

        &:nth-child(4) {
          margin: 1.5em 0 0 0;
        }

        &:nth-child(2) {
          margin: 0em 0 1em 0;
        }
      }
    }

    &__skill-icons {
      font-size: 1.8em;
      justify-self: center;
      align-self: center;
      svg {
        margin: 0 0.2em;
      }
    }

    @media only screen and (max-width: 850px) {
      height: max-content;

      &--inner {
        align-items: center;

        &:first-child {
          flex-direction: column;
          margin-top: -3em;
        }

        &:last-child {
          flex-direction: column-reverse;
        }
      }

      &__txt {
        width: initial;
        margin: 0;
        padding: 0 1em;
      }

      &__link {
        margin: 1.5em 0 0 0;
      }

      &__img {
        margin: 0 0 0.1em 0;
      }
    }
  }

  &__about-section__link,
  &__post-section__link-blog {
    border: 1.5px solid $color-neutral-500;
    background: $color-neutral-500;
    padding: 0.3em 2.5em 0.3em 1em;
    border-radius: 30px;
    width: max-content;

    h4 {
      cursor: pointer;
      letter-spacing: 1.5px;
      position: relative;
      &::after {
        content: "→";
        right: -1.4em;
        position: absolute;
        transform: translate3d(0, 0, 0);
      }
    }

    &:hover {
      h4 {
        &::after {
          animation-name: arrow-shift;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
        }
      }
    }
  }

  &__landing-front-img {
    height: 25em;
    width: 25em;

    @media only screen and (max-width: 850px) {
      margin: -3em 0 2em 0;
    }

    @media only screen and (max-width: 500px) {
      height: 23em;
      width: 23em;
    }
  }

  &__post-section {
    align-items: center;
  }

  &__post-section {
    margin: 7em 0 3em 0;
    & > h1 {
      margin: 0 0 2em;
    }
  }

  &__post-section__cards-container {
    max-width: 900px;
    margin-bottom: 2em;
  }

  &__post-section__card {
    width: 370px;
    height: 420px;
    margin: 1em 2em;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover {
      h3,
      p {
        text-decoration: underline;
      }
    }

    img {
      width: 370px;
      height: 200px;
      border-radius: 10px;
    }

    h3 {
      margin: 1em 0 0.3em;
      width: 370px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__post-section__card__date-tag {
    margin: 0.3em 0 0.5em 0;
  }
  &__post-section__card__tag {
    cursor: pointer;
    margin-left: 10px;
  }
}

@keyframes arrow-shift {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes music-notes {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes music-revolver {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
