@import "react-alice-carousel/lib/scss/alice-carousel.scss";

@import "../utils/animations";
@import "../utils/mixins";

.page-home {
  &__content-section {
    padding-bottom: 5em;
  }

  &__landing-header {
    margin-top: -15em;
    height: max-content;
    position: relative;

    @media only screen and (max-width: 850px) {
      flex-direction: column-reverse;
    }
  }

  &__landing-container {
    position: relative;
    min-height: 100vh;
  }

  &__landing-header__front-img {
    width: 370px;

    @media only screen and (max-width: 500px) {
      width: 250px;
      margin-right: -3em;
    }
  }

  &__landing-header__curved-svg {
    font-size: 30px;
    overflow: inherit;
    position: absolute;
    transform: rotate(86deg);
    top: -25px;
    right: -60px;

    path {
      fill: transparent;
    }

    text {
      fill: $color-neutral-600;
    }
    @media only screen and (max-width: 500px) {
      font-size: 25px;
      top: -20px;
      right: -76px;
    }
  }

  &__landing-header__txt {
    position: relative;

    &-name {
      height: 100%;
      width: 143%;
      justify-content: space-between;
      margin: 1em 0 3em;
      position: absolute;
      bottom: -50px;
      padding: 5px 0;
      border-radius: 50px;

      h1 {
        font-size: 55px;
        position: relative;
        width: max-content;

        &::first-letter {
          font-size: 100px;
        }
      }

      &--loaded {
        .page-home__landing-header__txt-divider--1 {
          width: 68%;
        }

        .page-home__landing-header__txt-divider--2 {
          width: 49%;
        }

        label {
          opacity: 1;
        }
      }

      @media only screen and (max-width: 500px) {
        width: 330px;
        h1 {
          font-size: 32px;
          letter-spacing: 10px;
          &::first-letter {
            font-size: 65px;
          }
        }

        span {
          font-size: 3.5em;
        }
      }
    }

    &-firstname {
      align-self: flex-start;
      text-orientation: upright;
      writing-mode: vertical-rl;

      &::first-letter {
        color: $color-primary-500;
        font-size: 100px;
      }
    }

    &-lastname {
      align-self: flex-end;
      width: max-content;
      letter-spacing: 22px;

      &::first-letter {
        color: $color-secondary-500;
        font-size: 100px;
      }
      @media only screen and (max-width: 500px) {
        margin-right: -7px;
      }
    }

    & > h1 {
      margin-bottom: 0.5em;
    }

    & > h3 {
      margin: 1em 0 2em;
    }

    @media only screen and (max-width: 850px) {
      margin-top: 2em;
      align-items: center;
    }

    @media only screen and (max-width: 500px) {
      margin: 0;
      padding: 0 1em;
    }
  }

  &__about-section {
    margin: auto;

    &--inner {
      margin: 8em 0;
      &:first-child {
        margin-top: -5em;
      }
    }

    &__link {
      margin: 2em auto 0 0;
    }

    &__divider {
      margin: 5px 0 20px 0;
      border: 2px solid $color-bdr-default;
      transform: skewY(-45deg) rotate(45deg) translate(-20%, 0);
      width: 50px;
    }

    &__img {
      font-size: 20em;
      color: $color-neutral-400;
      position: relative;

      svg {
        &:nth-child(2) {
          position: absolute;
        }
      }

      &-sax-cat {
        @media only screen and (max-width: 500px) {
          margin: 0 0 0.1em -50px !important;
        }
        svg:nth-child(2) {
          right: 0;
          top: 80px;
          @for $i from 1 to 6 {
            g path:nth-child(#{$i}) {
              // opacity: 0;
              fill: nth($fill-colors, $i);
              animation: music-notes 6s ease-in-out forwards infinite;
              animation-delay: #{$i}s;
            }
          }
        }
      }

      &-drummer-cat {
        svg:nth-child(2) {
          opacity: 0.5;
          right: -0.03em;
          top: -0.03em;
          animation: music-revolver 50s linear forwards infinite;
          transform: rotate(0deg);

          @for $i from 1 to 477 {
            g path:nth-child(#{$i}) {
              fill: nth($fill-colors, random(9));
            }
          }
        }
      }
    }

    &__txt {
      width: 500px;
      margin-left: 4em;

      & > h2 {
        margin: 0.6em 0 0 0;
      }

      & > h4 {
        line-height: 35px;
        width: 400px;

        em {
          color: $color-secondary-700;
        }

        &:nth-child(4) {
          margin: 1.5em 0 0 0;
        }

        &:nth-child(2) {
          margin: 0em 0 1em 0;
        }
      }
    }

    &__link {
      width: max-content;
    }

    &__skill-icons {
      font-size: 2em;
      margin: 0.8em 0 0;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      width: max-content;

      svg {
        margin: 0.2em 0.3em;
      }
    }

    @media only screen and (max-width: 850px) {
      height: max-content;

      &--inner {
        align-items: center;

        &:first-child {
          flex-direction: column;
          margin-top: -3em;
        }

        &:last-child {
          flex-direction: column-reverse;
        }
      }

      &__txt {
        width: initial;
        margin: 0;
        padding: 0 1em;
      }

      &__link {
        margin: 1.5em 0 0 0;
      }

      &__img {
        margin: 0 0 0.1em 0;
      }
    }
  }

  .extended-section {
    margin: 8em 0;
  }

  .extended-title {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: 40%;
      transform: translateY(-50%);
      right: -20%;
      width: 15%;
      height: 1px;
      background: $color-neutral-050;
      opacity: 0.4;
    }

    &::before {
      position: absolute;
      content: "";
      bottom: 40%;
      transform: translateY(-50%);
      left: -20%;
      width: 15%;
      height: 1px;
      background: $color-neutral-050;
      opacity: 0.4;
    }
  }

  .music-title {
    margin: auto;
  }
  .music {
    padding: 0 0.5em;
    margin: 4em 0;
  }

  .music-category {
    border-bottom: 1px solid $color-neutral-800;
    height: 65px;
    width: 220px;
    padding: 0 1em;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;

    h5 {
      color: white;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.603);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }

    &--active {
      z-index: 1;
      box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff, inset 20px 0 50px #f0f, inset -20px 0 50px #0ff,
        0 0 30px #fff, -10px 0 50px #f0f, 10px 0 50px #0ff;
    }
  }

  .music-category--lofi {
    background-image: url(../../images/lofi.jpeg);
  }

  .music-category--ambient {
    background-image: url(../../images/ambient.jpeg);
  }

  .music-category--alt-rock {
    background-image: url(../../images/alt-rock.jpeg);
  }
  .music-category--orchestra {
    background-image: url(../../images/orchestra.jpeg);
  }
  .music-category--indie-folk {
    background-image: url(../../images/indie-folk.jpeg);
  }

  .music-category--majestic {
    background-image: url(../../images/majestic.jpeg);
  }

  @media only screen and (max-width: 950px) {
    .music {
      flex-direction: column;
      justify-content: center;
    }

    .music-menu {
      flex-direction: row;
      width: 100%;
      overflow: auto;
    }

    .music-category {
      justify-content: center;
      flex: 1 1 auto;
    }
  }

  &__blog-section {
    align-items: center;
    margin: 7em 0 3em 0;

    & > h1 {
      margin: 0 0 2em;
    }

    &__link-blog {
      margin-top: 10px;
    }

    &__cards-container {
      max-width: 850px;
    }

    &__card {
      width: 350px;
      height: 420px;
      margin: 1em 1em;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      &:hover {
        h3,
        p {
          text-decoration: underline;
        }
      }

      $themed-hovers: (
        primary: $color-primary-800,
        secondary: $color-secondary-800,
        negative: $color-negative-800,
        positive: $color-positive-800,
      );

      @each $theme, $color in $themed-hovers {
        &--#{$theme}:hover {
          h3,
          p {
            color: $color;
          }
        }
      }

      &__img {
        width: 370px;
        height: 200px;
      }

      &__date-tag {
        margin: 0.3em 0 0.5em 0;
      }

      &__tag {
        cursor: pointer;
        margin-left: 10px;
      }

      h3 {
        margin: 1em 0 0.3em;
        width: 370px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__memes-section {
    margin: 5em 0 10em 0;

    .to-section-btn-link {
      margin-top: 2em;
    }

    .alice-carousel__next-btn-item,
    .alice-carousel__prev-btn-item {
      span {
        font-size: 1.3em;
        color: $color-secondary-800;
      }
    }

    .memes-carousel {
      width: 900px;
      margin: 2.5em 0 1em 0;

      @media only screen and (max-width: 800px) {
        width: 500px;
      }

      @media only screen and (max-width: 500px) {
        width: 350px;
      }
    }

    .meme-img-container {
      width: 300px;
      padding: 0 10px;
      margin: auto;
      transition: 0.2s linear;

      p {
        margin: 5px 0;
      }
      &:hover {
        transform: scale(1.05);
        p {
          text-decoration: underline;
        }
      }

      @media only screen and (max-width: 500px) {
        width: 170px;
      }
    }

    .meme-img {
      width: 280px;
      height: 150px;

      @media only screen and (max-width: 500px) {
        width: 150px;
      }
    }
  }
}
