@import './vars';

@keyframes music-notes {
  0% {
    fill: nth($fill-colors, random(9));
  }
  10% {
    fill: nth($fill-colors, random(9));
  }
  20% {
    fill: nth($fill-colors, random(9));
  }
  30% {
    fill: nth($fill-colors, random(9));
  }
  40% {
    fill: nth($fill-colors, random(9));
  }
  50% {
    fill: nth($fill-colors, random(9));
  }
  60% {
    fill: nth($fill-colors, random(9));
  }
  70% {
    fill: nth($fill-colors, random(9));
  }
  80% {
    fill: nth($fill-colors, random(9));
  }
  90% {
    fill: nth($fill-colors, random(9));
  }
  100% {
    fill: nth($fill-colors, random(9));
  }
}

@keyframes music-revolver {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@import "../../styles/utils/vars";

$color-list: (#4f9cfd, #a54afd, #fc4d91, #4de2ae, #ffbf55);

@mixin pulse($i) {
  @keyframes x {
    0% {
      fill: nth($color-list, $i);
    }

    25% {
      fill: nth($color-list, $i % 5 + 1);
    }

    50% {
      fill: nth($color-list, $i % 4 + 2);
    }
    75% {
      fill: nth($color-list, $i % 5 + 1);
    }
    100% {
      fill: nth($color-list, $i);
    }
  }
}

.pk-logo {
  &:hover {
    @for $i from 1 to 5 {
      .pk-logo__path-#{$i} {
        @include pulse($i);
        animation: x 2.5s linear forwards infinite;
        animation-delay: #{$i * 0.2}s;
      }
    }
  }
}
