@import "../../styles/utils/vars";
@import "../../styles/utils/mixins";

.header {
  &--base {
    padding: 1em 2em;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-between;

    @media only screen and (max-width: 500px) {
      padding: 1em;
    }
  }

  &--primary {
    width: 100%;
    background: $color-bg-main;
  }

  &__logo {
    font-size: 2.7em;
    color: $color-primary-900;
    display: flex;
    margin-right: 6vw;

    @media only screen and (max-width: 500px) {
      font-size: 2em;
      // margin-right: 4vw;
    }
  }

  &__nav-container {
    margin: 0 auto;
  }

  &__nav-link {
    position: relative;
    padding: 0 0.5em;

    &:nth-child(1),
    &--active:nth-child(1) {
      margin: 0 2vw 0 0;
    }

    &:nth-child(2),
    &--active:nth-child(2) {
      margin: 0 2vw;
    }

    &:nth-child(3),
    &--active:nth-child(3) {
      margin: 0 0 0 2vw;
    }

    p {
      transition: 0.1s linear;
      z-index: 1;
      text-transform: capitalize;
    }

    &:hover h4 {
      color: $color-primary-700;
    }

    &--active {
      @include dual-gradient($color-primary-800, $color-primary-500);
      margin: 0 2vw;
      pointer-events: none;
      border-radius: 0.3em;
      padding: 0 0.5em;
      text-transform: capitalize;
    }

    @media only screen and (max-width: 500px) {
      h4 {
        font-size: 16px;
      }
    }
  }

  &__social-container {
    font-size: 1.5em;
    align-items: center;
  }

  &__social-item {
    margin: 0 5px;
    cursor: pointer;
    color: $color-primary-900;
    justify-content: center;

    &:hover {
      color: $color-primary-600;
    }

    @media only screen and (max-width: 550px) {
      display: none;
    }
  }
}
