@import "../../styles/utils/vars";
@import "../../styles/utils/mixins";

.header {
  &--base {
    padding: 1em 2em;
    z-index: 100;
    // justify-content: space-between;
    width: 100%;

    @media only screen and (max-width: 500px) {
      padding: 1em;
    }
  }

  &--fixed {
    position: fixed;
    width: 99.5%;
    animation: down-drag 0.5s ease-in-out;
  }

  &--sticky {
    position: sticky;
    top: 0;
  }

  &--primary {
    background: $color-bg-main;
  }

  &__logo {
    font-size: 2.7em;
    color: $color-primary-900;
    display: flex;

    @media only screen and (max-width: 500px) {
      font-size: 2em;
    }
  }

  &__nav-container {
    margin: 0 auto 0 auto;
    height: 30px;
  }

  &__nav-link {
    position: relative;
    padding: 0 0.6em;
    margin: 0 .5vw;
  
    p {
      transition: 0.1s linear;
      z-index: 1;
      text-transform: capitalize;
      font-family: var(--pk-font-family-primary);
      font-size: 20px;
    }

    &:hover p {
      color: $color-primary-600;
    }

    &--active {
      @include dual-gradient($color-secondary-600, $color-primary-500);
      pointer-events: none;
      border-radius: 6px;
      box-shadow: 0px 10px 20px 0px $color-boxshadow-light;
      padding: 0 0.6em 0.1em 0.6em;
      text-transform: capitalize;

      p {
        color: $color-blank-600;
      }
    }

    @media only screen and (max-width: 500px) {
      p {
        font-size: 16px;
      }
    }
  }

  &__dark-mode-switch {
    font-size: 1.5em;
  }
}

$darkmode-light: #ecb829;
$darkmode-default: #f8d984;
$darkmode-dark: #df9100;

.header-template {
  &__logo {
    color: $darkmode-light;
  }

  // &__nav-link {
  //   &:hover p {
  //     color: $darkmode-default;
  //   }
  //   p {
  //     color: $darkmode-light;
  //   }

  //   &--active {
  //     @include dual-gradient($darkmode-light, $darkmode-dark);
  //     p {
  //       color: #3a3546;
  //     }
  //   }
  // }

  &__dark-mode-switch {
    & ~ label {
      background-color: $darkmode-light;

      &::before {
        background-color: rgb(63, 58, 90);
      }
    }
  }
}

@keyframes down-drag {
  0% {
    top: -75px;
  }
  100% {
    top: 0;
  }
}
