@import "../../styles/utils/vars";
@import "../../styles/utils/mixins";

.header {
  &--base {
    padding: 0.5em 2em;
    z-index: 100;
    width: 100%;

    @media only screen and (max-width: 500px) {
      padding: 1em;
    }
  }

  &--fixed {
    position: fixed;
    width: 99.5%;
    animation: down-drag 0.5s ease-in-out;
  }

  &--sticky {
    position: sticky;
    top: 0;
  }

  &--primary {
    background: $color-bg-main;
  }

  &__logo {
    font-size: 3.5em;
    display: flex;

    @media only screen and (max-width: 500px) {
      font-size: 2.5em;
    }
  }

  &__nav-container {
    margin: 0 1em 0 auto;
    height: 30px;
  }

  &__nav-link {
    position: relative;
    padding: 0 0.6em;
    margin: 0 0.5vw;

    p {
      transition: 0.1s linear;
      z-index: 1;
      text-transform: capitalize;
      font-family: var(--pk-font-family-primary);
      font-size: 18px;
    }

    &:hover {
      .nav-link-txt {
        color: $color-primary-600;
      }

      .nav-link__sub-menu {
        opacity: 1;
        pointer-events: initial;
      }
    }

    &--active {
      @include dual-gradient($color-secondary-600, $color-primary-500);
      pointer-events: none;
      border-radius: 6px;
      box-shadow: 0px 10px 20px 0px $color-boxshadow-light;
      padding: 0 0.6em 0.1em 0.6em;
      text-transform: capitalize;

      p {
        color: $color-blank-600;
      }
    }

    .nav-link__sub-menu {
      pointer-events: none;
      opacity: 0;
      position: absolute;
      background: $color-blank-800;
      box-shadow: 0px 10px 20px 0px $color-boxshadow-light;
      padding: 1em 2em;
      left: -75%;
      transform: translateY(15px);
      border-radius: 10px;
      &::after {
        position: absolute;
        content: "";
        top: -10px;
        right: 25%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $color-blank-800;
      }

      &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 100%;
        top: -17%;
      }
      & > * {
        &:hover {
          p {
            color: $color-primary-600;
          }
        }
        margin: 5px 0;
      }
    }

    @media only screen and (max-width: 500px) {
      p {
        font-size: 16px;
      }
    }
  }

  &__dark-mode-switch {
    font-size: 1.5em;
  }
}

.header-template {
  &__nav-link p {
    color: var(--pk-color-primary-050);
  }
}

@keyframes down-drag {
  0% {
    top: -75px;
  }
  100% {
    top: 0;
  }
}
