.carousel {
  justify-content: center;
}

.slide-group {
  overflow: hidden;
  display: flex;
  width: 750px;

  @media only screen and (max-width: 1050px) {
    width: 500px;
  }

  @media only screen and (max-width: 750px) {
    width: 250px;
  }
}

.slide {
  display: flex;
  justify-content: center;
  & > *:first-child {
    margin: 0 10px 0 0;
  }

  & > *:last-child {
    margin: 0 0 0 10px;
  }
}

.caret {
  margin: 0 20px;
  padding: 0.3em;
  font-size: 1.3em;
  height: max-content;
  &--disabled {
    @extend .caret;
    pointer-events: none;
    opacity: .3;
  }
}