@import "../../styles/utils/vars";

$icon-bg: rgba(77, 79, 80, 0.623);

.footer {
  &-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 2em 3em;
    justify-self: center;
    background: $color-bg-footer;
    position: relative;
  }

  &__wings-div {
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0 0 5em 0;
    transform: translate(0, -49%);
  
    svg {
      background: var(--pk-color-bg-footer);
      padding:0 .3em;
      width: 350px;
      border-radius: 40px;
      font-size: 4.5em;
      position: relative;
      border-top: 2px solid $color-neutral-500;
    

      @for $i from 1 to 41 {
        g path:nth-child(#{$i}) {
          fill: nth($fill-colors, random(9));
          animation: flicker 3.5s ease-in-out forwards infinite;
          animation-delay: #{$i}s;
        }
      }
    }
    div {
      // opacity: 0.5;
      width: inherit;
      height: 3px;
      background: $color-neutral-500;
    }
  }

  &__links-container {
    margin: 0 0 3em 0;
    position: relative;
  }

  &__links-item {
    color: $color-blank-700;
    font-family: var(--pk-font-family-primary);
    font-size: 1.5em;
    margin: 0 10px;

    &--active {
      text-decoration: underline;
    }
  }

  &__links-divider {
    height: 50%;
    width: 2px;
    background: $color-neutral-900;
    margin: 0 10px;
  }

  &__contact-container--outer {
    @media only screen and (max-width: 500px) {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }

  &__contact-container--inner {
    margin-right: 10vw;
    @media only screen and (max-width: 500px) {
      margin: 0;
    }
  }

  &__contact-item-container {
    &:not:first-child,
    &:not:last-child {
      margin: 15px 0;
    }

    &:first-child {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-top: 15px;
    }
  }

  &__contact-item__icon {
    margin-right: 10px;
    font-size: 2em;
    padding: 0.2em;
  }

  &__copyright-logo {
    margin-right: 10px;
    color: $color-blank-700;
    font-size: 3em;
  }

  &__copyright-container {
    height: max-content;
    margin-right: 15px;
  }
  
  &__copyright-social {
    @media only screen and (max-width: 500px) {
      // flex-direction: column-reverse;
    }
  }
  
  &__social-container {
    @media only screen and (max-width: 500px) {
      margin: 3em 0 1em;
    }
  }

  &__social-item {
    font-size: 2.5em;
    margin: 0 5px;
    cursor: pointer;
    svg {
      border-radius: 50%;
      padding: 0.2em;
      background: $icon-bg;
    }
  }
}

@keyframes flicker {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}