/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.vertical-timeline {
  margin: 0;
}

.vertical-timeline-element-content {
  background: var(--pk-color-blank-800);
  box-shadow: 0px 10px 20px 0px var(--pk-color-boxshadow-light);
}

.vertical-timeline-element-content-arrow {
  border-right: 7px solid var(--pk-color-blank-800);
}

.vertical-timeline-element-icon {
  background: var(--pk-color-blank-800);
  border: 3px solid var(--pk-color-blank-600);
  box-shadow: none;
}

.vertical-timeline-element-date {
  color: var(--pk-color-neutral-600);
}

.tl-wrapper {
  overflow: hidden;
}